# NPM Configuration for Vercel deployments
# Increase retry attempts and timeout for better reliability
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000

# Use npm registry
registry=https://registry.npmjs.org/
